@page "{id:int}"
@model ER.Pages.Employees.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Specialists</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specialists.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specialists.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specialists.Bio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specialists.Bio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specialists.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specialists.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specialists.Profession)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specialists.Profession)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specialists.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specialists.Image)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Specialists.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
